:root{
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --spartan: 'Spartan', sans-serif;
}

*{
    box-sizing: border-box;
}

/*HEADER ---------------------------- */
.landing-page{
    background: url("/images/bg-pattern-top-mobile.svg") no-repeat right 50vw bottom 40vh,
    url("/images/bg-pattern-bottom-mobile.svg") no-repeat left 50vw top 40vh;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
}

header{
    display: flex;
    flex-direction: column;
    font-family: var(--spartan);
    margin-top: 3rem;
}


.header-title{
    text-align: center;
    color: var(--dark-magenta);
    font-weight: 700;
    font-size: 2rem;

    margin-top: 2.5rem;
    margin-bottom: 1.2rem;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.header-p{
    text-align: center;

    color: var(--dark-grayish-magenta);
    font-size: 0.93rem;
    line-height: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 400 ;
}

/*CARD-FEEDBACK ---------------------------- */
.card-star{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-star img{
    margin: 0.1rem;
}

.card{
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light-grayish-magenta);

    text-align: center;
    font-family: var(--spartan);
    font-size: 0.93rem;
    font-weight: 700;
    color: var(--dark-magenta); 

    border-radius: .5rem;
} 

.feedback{
    display: flex;
    flex-direction: column;
}

.coment{
    font-family: var(--spartan);
    font-size: 0.9rem;
    line-height: 1.4rem;
    background-color: var(--dark-magenta);

    margin-bottom: 1rem;
    padding: 2.5rem 1.6rem 2.0rem 1.6rem;

    border-radius: .5rem;
}

.coment-header-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.coment img{
    flex-grow: 1;
    width: 40px;
    border-radius: 5rem;
    margin-right: 1.5rem;
}

.coment-name{
    font-weight: 700;
    color: var(--white);
}

.coment-verified{
    font-weight: 400;
    color: var(--soft-pink);
}

.coment-text{
    font-weight: 500;
    color: var(--white);
}

/*FOOTER ---------------------------- */
.attribution {
    font-size: 9px;
    text-align: center;
    font-family: var(--spartan);
    margin-bottom: 1rem;
}

.attribution a {
    color: var(--soft-pink);
}

@media (min-width: 1440px){
    .landing-page{
        background: url(/images/bg-pattern-top-desktop.svg) no-repeat right 50vw bottom 45vh,
                     url(/images/bg-pattern-bottom-desktop.svg) no-repeat left 33vw top 12vh;
        background-color: var(--white);
    }

    .full-container{
        margin: 8rem 4rem 1rem 8rem;
    }

    .container{
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .header-info{
        width: 45%;
    }

    .header-title{
        text-align: left;
        font-size: 45px;
        width: 80%;
        padding: 0;
    }

    .header-p{
        text-align: left;
        width: 85%;
    }

    .cards-rated{
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .card p{
        margin-left: 1rem;
    }

    .card-star{
        padding-left: 2rem;
    }

    .first-card{
        width: 60%;
        display: flex;
        font-size: .85rem;
        align-self: flex-start;
    }

    .second-card{
        width: 60%;
        display: flex;
        align-items: center;
        font-size: .85rem;
        align-self: center;
    }

    .third-card{
        width: 60%;
        display: flex;
        font-size: .85rem;
        align-self: flex-end;
    }

    .feedback{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 270px;    
    }
    
    .colton{
        width: 30%;
        align-self: flex-start;
    }

    .irene{
        width: 30%;
        align-self: center;
    }

    .anne{
        width: 30%;
        align-self: flex-end;
    }

    .attribution{
        margin: 0;
    }
}